@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <B><h1 class="display-4" style="font-style:initial;float:left;margin-left: 25%;" >WELCOME TO IACSD</h1></B>
     <img src="https://iacsd.com/img/logo.png"  style="width:8%;height:50%;margin-top: 0.5%;">
     
    <img src="https://iacsd.com/data1/images/ban2.jpg" style="width: 100%;margin-top: 5%;">
</div>
